<html>
    <head>
        <title>RGB Inputs</title>
    </head>
    <body>
        <form action="http://pi/rgb" method="POST">
            <p>R: <input type="number" name="r" min="0" max="255"></p>
            <p>G: <input type="number" name="g" min="0" max="255"></p>
            <p>B: <input type="number" name="b" min="0" max="255"></p>
            <p>L: <input type="number" name="l" min="0" max="255"></p>
            <p>P: <input type="number" name="p" min="0" max="255"></p>
            <p>Submit<input type="submit" value="submit"></p>
        </form>
    </body>
</html>